header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav{
    width: 600px;
    display: flex;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: rgb(74, 72, 72);
    font-weight: 900;
}
 
a:hover{
    color: red;
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box div{
    width: 35%;
}

p{
    color: rgb(179, 174, 174);
}

.box button{
    width: 197px;
    height: 49px;
    border-radius: 30px;
    border: 2px solid  #458FF6;
    background-color: rgb(243, 245, 248);
    color:  #458FF6;
}

button:active{
    background-color: #458FF6;
    color: white;
    border: none;
}

h2{
    text-align: center;
}
 .pet{
    color:rgb(179, 174, 174) ;
    width: 50%;
    margin: 0 auto;
 }
   
.box2 .des{
    width: 380px;
    height: 300px;
    background-color: rgb(208, 202, 202);
    border-radius: 20px;
    color:rgb(41, 40, 40);
} 
   
.box2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:120px ;
}

.box2 button{
    width: 197px;
    height: 49px;
    border-radius: 30px;
    border: 2px solid  #458FF6;
    background-color: rgb(243, 245, 248);
    color:  #458FF6;
}

button:active{
    background-color: #458FF6;
    color: white;
    border: none;
}


























































